.notification
  .notice  チャットグループが作成されました。
.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name  matsumoto
      .chat-side__user--new-group
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o
      .chat-side__user--edit-user
        = link_to do
          %i.fa.fa-cog
  .chat-side__groups
    .chat-side__groups-list
      %a
        .chat-side__group
          .chat-side__group-name  test1
          .chat-side__group-message  nanananana
      %a
        .chat-side__group
          .chat-side__group-name  test2
          .chat-side__group-message  gagagagaga
.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name  group1
      .chat-main__header--group-edit-btn  edit
    .chat-main__header-members  MEMBER:satoshi
  .chat-main__body
    .chat-main__body--messages-list
      .chat-main__message
        .chat-main__message-name  matsumoto
        .chat-main__message-time  2018/11/07 11:00
        .chat-main__message-body  testtesttesttest
      .chat-main__message
        .chat-main__message-name  satoshi
        .chat-main__message-time  2018/11/07 12:00
        .chat-main__message-body  testtesttesttest
  .chat-main__footer
    .chat-main__footer-form
      .chat-main__footer-body
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'message', placeholder: 'type a message'
          .chat-file
            = f.label :image do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden', style: "display:none;"
          = f.submit 'Send', class: 'submit'
